.container-2kDJVADV {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  border-radius: 4px;
  border-style: solid;
  border-color: #d1d4dc;
}
html.theme-dark .container-2kDJVADV {
  border-color: #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .container-2kDJVADV:hover {
    border-color: #a3a6af;
  }
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .container-2kDJVADV:hover {
    border-color: #6a6d78;
  }
}
.container-2kDJVADV.focused-GwkJELgF {
  border-color: #2196f3;
}
html.theme-dark .container-2kDJVADV.focused-GwkJELgF {
  border-color: #1976d2;
}
.container-2kDJVADV.readonly-3PcaDYes {
  border-color: #d1d4dc;
  background-color: #f0f3fa;
}
html.theme-dark .container-2kDJVADV.readonly-3PcaDYes {
  background-color: #25262B;
  border-color: #50535e;
}
.container-2kDJVADV.disabled-3y5wOPXy {
  color: #b2b5be;
  border-color: #d1d4dc;
  background-color: #f0f3fa;
}
html.theme-dark .container-2kDJVADV.disabled-3y5wOPXy {
  background-color: #25262B;
  border-color: #50535e;
  color: #50535e;
}
.container-2kDJVADV.size-small-vNxOpxFU {
  height: 24px;
}
.container-2kDJVADV.size-medium-2QF4qrsy {
  height: 34px;
}
.container-2kDJVADV.size-large-3c0aAmCz {
  height: 48px;
}
.container-2kDJVADV.font-size-medium-15_hd7kR,
.container-2kDJVADV.font-size-small-1atK0oxP {
  font-size: 14px;
  line-height: 20px;
}
.container-2kDJVADV.font-size-large-sNxmYZSZ {
  font-size: 16px;
  line-height: 24px;
}
.container-2kDJVADV.border-none-2W-f5CeX {
  border-width: 0;
}
.container-2kDJVADV.border-none-2W-f5CeX .shadow-fRMVHbcr {
  margin: 0;
}
.container-2kDJVADV.border-thin-39LN06wV {
  border-width: 1px;
}
.container-2kDJVADV.border-thin-39LN06wV .shadow-fRMVHbcr {
  margin: -1px;
}
.container-2kDJVADV.border-thick-3YqbfLWG {
  border-width: 2px;
}
.container-2kDJVADV.border-thick-3YqbfLWG .shadow-fRMVHbcr {
  margin: -2px;
}
.container-2kDJVADV.intent-default-2WqrktAC .shadow-fRMVHbcr {
  border-color: #d1d4dc;
}
html.theme-dark .container-2kDJVADV.intent-default-2WqrktAC .shadow-fRMVHbcr {
  border-color: #50535e;
}
.container-2kDJVADV.intent-success-2qRddKlF,
.container-2kDJVADV.intent-success-2qRddKlF .shadow-fRMVHbcr,
html.theme-dark .container-2kDJVADV.intent-success-2qRddKlF,
html.theme-dark .container-2kDJVADV.intent-success-2qRddKlF .shadow-fRMVHbcr {
  border-color: #00897b;
}
.container-2kDJVADV.intent-warning-3nKtF1a7,
.container-2kDJVADV.intent-warning-3nKtF1a7 .shadow-fRMVHbcr,
html.theme-dark .container-2kDJVADV.intent-warning-3nKtF1a7,
html.theme-dark .container-2kDJVADV.intent-warning-3nKtF1a7 .shadow-fRMVHbcr {
  border-color: #ff9800;
}
.container-2kDJVADV.intent-danger-2UcBu3hY {
  border-color: #f44336;
}
html.theme-dark .container-2kDJVADV.intent-danger-2UcBu3hY {
  border-color: #d32f2f;
}
.container-2kDJVADV.intent-danger-2UcBu3hY .shadow-fRMVHbcr {
  border-color: #f44336;
}
html.theme-dark .container-2kDJVADV.intent-danger-2UcBu3hY .shadow-fRMVHbcr {
  border-color: #d32f2f;
}
.container-2kDJVADV.intent-primary-1GPjPo8I {
  border-color: #2196f3;
}
html.theme-dark .container-2kDJVADV.intent-primary-1GPjPo8I {
  border-color: #1976d2;
}
.container-2kDJVADV.intent-primary-1GPjPo8I .shadow-fRMVHbcr {
  border-color: #2196f3;
}
html.theme-dark .container-2kDJVADV.intent-primary-1GPjPo8I .shadow-fRMVHbcr {
  border-color: #1976d2;
}
.container-2kDJVADV.corner-top-left-1UYBpB66 {
  border-top-right-radius: 0;
}
.container-2kDJVADV.corner-top-right-3vjbw1SH {
  border-top-left-radius: 0;
}
.container-2kDJVADV.corner-bottom-right-2Xs3BwD0 {
  border-bottom-left-radius: 0;
}
.container-2kDJVADV.corner-bottom-left-2m7Qn1wR {
  border-bottom-right-radius: 0;
}
.container-2kDJVADV.border-none-2W-f5CeX .input-1Fp9QlzO {
  padding: 0 8px;
}
.container-2kDJVADV.border-none-2W-f5CeX.icon-left-sV9DQagg .icon-1S_6X6gw {
  margin-right: 3px;
}
.container-2kDJVADV.border-none-2W-f5CeX.icon-right-2uMWnixv .icon-1S_6X6gw {
  margin-left: 3px;
}
.container-2kDJVADV.border-thin-39LN06wV.grouped-vertical-2lC0wjMX:not(:first-child) {
  margin-right: -1px;
}
.container-2kDJVADV.border-thin-39LN06wV.grouped-horizontal-3T_Yy5c3:not(:first-child) {
  margin-top: -1px;
}
.container-2kDJVADV.border-thin-39LN06wV .input-1Fp9QlzO {
  padding: 0 7px;
}
.container-2kDJVADV.border-thin-39LN06wV.icon-left-sV9DQagg .icon-1S_6X6gw {
  margin-right: 2px;
}
.container-2kDJVADV.border-thin-39LN06wV.icon-right-2uMWnixv .icon-1S_6X6gw {
  margin-left: 2px;
}
.container-2kDJVADV.border-thick-3YqbfLWG.grouped-vertical-2lC0wjMX:not(:first-child) {
  margin-right: -2px;
}
.container-2kDJVADV.border-thick-3YqbfLWG.grouped-horizontal-3T_Yy5c3:not(:first-child) {
  margin-top: -2px;
}
.container-2kDJVADV.border-thick-3YqbfLWG .input-1Fp9QlzO {
  padding: 0 6px;
}
.container-2kDJVADV.border-thick-3YqbfLWG.icon-left-sV9DQagg .icon-1S_6X6gw {
  margin-right: 1px;
}
.container-2kDJVADV.border-thick-3YqbfLWG.icon-right-2uMWnixv .icon-1S_6X6gw {
  margin-left: 1px;
}
.container-2kDJVADV.icon-right-2uMWnixv .input-1Fp9QlzO {
  padding-left: 4px;
}
.container-2kDJVADV.icon-right-2uMWnixv .icon-1S_6X6gw {
  order: 1;
}
.container-2kDJVADV.icon-left-sV9DQagg .input-1Fp9QlzO {
  padding-right: 4px;
}
.container-2kDJVADV.icon-left-sV9DQagg .icon-1S_6X6gw {
  order: -1;
}
.container-2kDJVADV.highlight-fnJ4zkJY,
.container-2kDJVADV.highlight-fnJ4zkJY.focused-GwkJELgF {
  border-color: #d1d4dc;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .container-2kDJVADV.highlight-fnJ4zkJY:hover {
    border-color: #d1d4dc;
  }
}
html.theme-dark .container-2kDJVADV.highlight-fnJ4zkJY,
html.theme-dark .container-2kDJVADV.highlight-fnJ4zkJY.focused-GwkJELgF {
  border-color: #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .container-2kDJVADV.highlight-fnJ4zkJY:hover {
    border-color: #50535e;
  }
}
.container-2kDJVADV.grouped-vertical-2lC0wjMX:not(:first-child) {
  margin-right: -1px;
}
.container-2kDJVADV.grouped-horizontal-3T_Yy5c3:not(:first-child) {
  margin-top: -1px;
}
.container-2kDJVADV.grouped-horizontal-3T_Yy5c3.focused-GwkJELgF,
.container-2kDJVADV.grouped-vertical-2lC0wjMX.focused-GwkJELgF {
  z-index: 1;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .container-2kDJVADV.grouped-horizontal-3T_Yy5c3:hover,
  .container-2kDJVADV.grouped-vertical-2lC0wjMX:hover {
    z-index: 1;
  }
}
.container-2kDJVADV.grouped-horizontal-3T_Yy5c3.focused-GwkJELgF,
.container-2kDJVADV.grouped-vertical-2lC0wjMX.focused-GwkJELgF {
  z-index: 2;
}
.icon-1S_6X6gw {
  display: flex;
  flex: none;
  color: #787b86;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
}
html.theme-dark .icon-1S_6X6gw {
  color: #787b86;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .container-2kDJVADV:hover .icon-1S_6X6gw.interactive-3QZtt2FP {
    color: #131722;
  }
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark
    .container-2kDJVADV:hover
    .icon-1S_6X6gw.interactive-3QZtt2FP {
    color: #b2b5be;
  }
}
.input-1Fp9QlzO {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%;
  min-width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  -webkit-text-fill-color: currentColor;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  order: 0;
}
.input-1Fp9QlzO::-webkit-input-placeholder {
  color: #d1d4dc;
}
.input-1Fp9QlzO:-ms-input-placeholder {
  color: #d1d4dc;
}
.input-1Fp9QlzO::placeholder {
  color: #d1d4dc;
}
html.theme-dark .input-1Fp9QlzO::-webkit-input-placeholder {
  color: #50535e;
}
html.theme-dark .input-1Fp9QlzO:-ms-input-placeholder {
  color: #50535e;
}
html.theme-dark .input-1Fp9QlzO::placeholder {
  color: #50535e;
}
.input-1Fp9QlzO::-webkit-calendar-picker-indicator,
.input-1Fp9QlzO::-webkit-clear-button,
.input-1Fp9QlzO::-webkit-inner-spin-button,
.input-1Fp9QlzO::-webkit-outer-spin-button,
.input-1Fp9QlzO::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.input-1Fp9QlzO::-ms-clear,
.input-1Fp9QlzO::-ms-reveal {
  display: none;
}
.input-1Fp9QlzO:-webkit-autofill,
.input-1Fp9QlzO:-webkit-autofill:active,
.input-1Fp9QlzO:-webkit-autofill:focus {
  border-radius: 3px;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .input-1Fp9QlzO:-webkit-autofill:hover {
    border-radius: 3px;
  }
}
.shadow-fRMVHbcr {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 4px;
  border: 2px solid;
}
.shadow-fRMVHbcr.corner-top-left-1UYBpB66 {
  border-top-right-radius: 0;
}
.shadow-fRMVHbcr.corner-top-right-3vjbw1SH {
  border-top-left-radius: 0;
}
.shadow-fRMVHbcr.corner-bottom-right-2Xs3BwD0 {
  border-bottom-left-radius: 0;
}
.shadow-fRMVHbcr.corner-bottom-left-2m7Qn1wR {
  border-bottom-right-radius: 0;
}
.wrapper-CRZXrxS2 {
  flex: none;
  box-sizing: border-box;
  padding: 2px 0;
  height: 32px;
  width: 21px;
  outline: none !important;
  margin-left: 2px;
  margin-right: 0;
  order: 1;
}
.wrapper-CRZXrxS2.hidden-1wnB-Kx5 {
  display: none;
}
.button-1Eugtpck {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 2px;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .button-1Eugtpck:hover {
    background-color: #f0f3fa;
  }
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .button-1Eugtpck:hover {
    background-color: #363a45;
  }
}
.icon-17-1vCIN {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transition: transform 0.35s ease;
}
.icon-17-1vCIN.dropped-ecaUHMhj {
  transform: rotate(-180deg);
}
.inputWithErrorWrapper-3VldItns {
  display: block;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  height: 34px;
  box-shadow: inset 0 0 0 1px transparent;
  border: 1px solid #d1d4dc;
  border-radius: 4px;
  background-color: transparent;
  font-size: 15px;
  color: #131722;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 87.5ms ease, box-shadow 87.5ms ease;
}
html.theme-dark .inputWithErrorWrapper-3VldItns {
  color: #b2b5be;
  border: 1px solid #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns:hover {
    z-index: 1;
    border-color: #b2b5be;
  }
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .inputWithErrorWrapper-3VldItns:hover {
    border-color: #6a6d78;
  }
}
.disabled-1H5pTmbC {
  border-color: #d1d4dc;
  background-color: #f0f3fa;
  color: #b2b5be;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .disabled-1H5pTmbC:hover {
    border-color: #d1d4dc;
    background-color: #f0f3fa;
    color: #b2b5be;
  }
}
html.theme-dark .disabled-1H5pTmbC {
  color: #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .disabled-1H5pTmbC:hover {
    color: #50535e;
  }
}
html.theme-dark .disabled-1H5pTmbC {
  background-color: #25262B;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .disabled-1H5pTmbC:hover {
    background-color: #25262B;
  }
}
html.theme-dark .disabled-1H5pTmbC {
  border-color: #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .disabled-1H5pTmbC:hover {
    border-color: #50535e;
  }
}
.disabled-1H5pTmbC.thickBorder-17UV-SuS {
  box-shadow: inset 0 0 0 1px transparent;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .disabled-1H5pTmbC:hover.thickBorder-17UV-SuS {
    box-shadow: inset 0 0 0 1px transparent;
  }
}
.readonly-3wmbSVwP {
  border-color: #b2b5be;
  background-color: #f0f3fa;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .readonly-3wmbSVwP:hover {
    border-color: #b2b5be;
    background-color: #f0f3fa;
  }
}
html.theme-dark .readonly-3wmbSVwP {
  background-color: #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .readonly-3wmbSVwP:hover {
    background-color: #50535e;
  }
}
html.theme-dark .readonly-3wmbSVwP {
  border-color: #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .readonly-3wmbSVwP:hover {
    border-color: #50535e;
  }
}
.readonly-3wmbSVwP.thickBorder-17UV-SuS {
  box-shadow: inset 0 0 0 1px transparent;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .readonly-3wmbSVwP:hover.thickBorder-17UV-SuS {
    box-shadow: inset 0 0 0 1px transparent;
  }
}
.inputWithErrorWrapper-3VldItns.focused-3rk113Ah {
  border-color: #2196f3;
  z-index: 2;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover {
    border-color: #2196f3;
    z-index: 2;
  }
}
html.theme-dark .inputWithErrorWrapper-3VldItns.focused-3rk113Ah {
  border-color: #1976d2;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover {
    border-color: #1976d2;
  }
}
.inputWithErrorWrapper-3VldItns.focused-3rk113Ah.thickBorder-17UV-SuS {
  box-shadow: inset 0 0 0 1px #2196f3 !important;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover.thickBorder-17UV-SuS {
    box-shadow: inset 0 0 0 1px #2196f3 !important;
  }
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah.thickBorder-17UV-SuS {
  box-shadow: inset 0 0 0 1px #1976d2 !important;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover.thickBorder-17UV-SuS {
    box-shadow: inset 0 0 0 1px #1976d2 !important;
  }
}
.inputWithErrorWrapper-3VldItns.focused-3rk113Ah .innerInput-29Ku0bwF {
  color: #131722;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover .innerInput-29Ku0bwF {
    color: #131722;
  }
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah
  .innerInput-29Ku0bwF {
  color: #b2b5be;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover
    .innerInput-29Ku0bwF {
    color: #b2b5be;
  }
}
.inputWithErrorWrapper-3VldItns.focused-3rk113Ah
  .innerInput-29Ku0bwF::-webkit-input-placeholder {
  opacity: 1;
  color: #e0e3eb;
}
.inputWithErrorWrapper-3VldItns.focused-3rk113Ah
  .innerInput-29Ku0bwF:-ms-input-placeholder {
  opacity: 1;
  color: #e0e3eb;
}
.inputWithErrorWrapper-3VldItns.focused-3rk113Ah
  .innerInput-29Ku0bwF::placeholder {
  opacity: 1;
  color: #e0e3eb;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover
    .innerInput-29Ku0bwF::-webkit-input-placeholder {
    opacity: 1;
    color: #e0e3eb;
  }
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover
    .innerInput-29Ku0bwF:-ms-input-placeholder {
    opacity: 1;
    color: #e0e3eb;
  }
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover
    .innerInput-29Ku0bwF::placeholder {
    opacity: 1;
    color: #e0e3eb;
  }
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah
  .innerInput-29Ku0bwF::-webkit-input-placeholder {
  color: #363a45;
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah
  .innerInput-29Ku0bwF:-ms-input-placeholder {
  color: #363a45;
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.focused-3rk113Ah
  .innerInput-29Ku0bwF::placeholder {
  color: #363a45;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover
    .innerInput-29Ku0bwF::-webkit-input-placeholder {
    color: #363a45;
  }
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover
    .innerInput-29Ku0bwF:-ms-input-placeholder {
    color: #363a45;
  }
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.focused-3rk113Ah:hover
    .innerInput-29Ku0bwF::placeholder {
    color: #363a45;
  }
}
.inputWithErrorWrapper-3VldItns.error-32uXEKXM {
  border-color: #ef5350;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.error-32uXEKXM:hover {
    border-color: #ef5350;
  }
}
html.theme-dark .inputWithErrorWrapper-3VldItns.error-32uXEKXM {
  border-color: #e53935;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .inputWithErrorWrapper-3VldItns.error-32uXEKXM:hover {
    border-color: #e53935;
  }
}
.inputWithErrorWrapper-3VldItns.error-32uXEKXM.thickBorder-17UV-SuS {
  box-shadow: inset 0 0 0 1px #ef5350 !important;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.error-32uXEKXM:hover.thickBorder-17UV-SuS {
    box-shadow: inset 0 0 0 1px #ef5350 !important;
  }
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.error-32uXEKXM.thickBorder-17UV-SuS {
  box-shadow: inset 0 0 0 1px #e53935 !important;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.error-32uXEKXM:hover.thickBorder-17UV-SuS {
    box-shadow: inset 0 0 0 1px #e53935 !important;
  }
}
.inputWithErrorWrapper-3VldItns.error-32uXEKXM .innerInput-29Ku0bwF {
  color: #ef5350;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.error-32uXEKXM:hover .innerInput-29Ku0bwF {
    color: #ef5350;
  }
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.error-32uXEKXM
  .innerInput-29Ku0bwF {
  color: #e53935;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.error-32uXEKXM:hover
    .innerInput-29Ku0bwF {
    color: #e53935;
  }
}
.inputWithErrorWrapper-3VldItns.warning-1fcuxDP3 .innerInput-29Ku0bwF {
  color: #ef6c00;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .inputWithErrorWrapper-3VldItns.warning-1fcuxDP3:hover .innerInput-29Ku0bwF {
    color: #ef6c00;
  }
}
html.theme-dark
  .inputWithErrorWrapper-3VldItns.warning-1fcuxDP3
  .innerInput-29Ku0bwF {
  color: #ef6c00;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark
    .inputWithErrorWrapper-3VldItns.warning-1fcuxDP3:hover
    .innerInput-29Ku0bwF {
    color: #ef6c00;
  }
}
.inputWithError-1wKt_k8s {
  flex: 0 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
}
.inputContainer-2JfcvOzg,
.inputWithError-1wKt_k8s {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}
.inputContainer-2JfcvOzg {
  width: 100%;
  flex-direction: row-reverse;
}
.inputContainerFix-3bYyvsOT {
  flex-direction: row;
}
.innerInputContainer-FSOtBYl0 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
}
.innerInput-29Ku0bwF {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 8px 0 3px;
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: color 0.35s ease;
  box-sizing: border-box;
  -webkit-text-fill-color: currentColor;
}
direction: ltr;
text-align: right;
padding: 0 8px 0 3px;
.innerInput-29Ku0bwF.largeFont-1Tlrlf5g {
  font-size: 16px;
}
.innerInput-29Ku0bwF::-webkit-input-placeholder {
  opacity: 1;
  color: #c1c4cd;
}
.innerInput-29Ku0bwF:-ms-input-placeholder {
  opacity: 1;
  color: #c1c4cd;
}
.innerInput-29Ku0bwF::placeholder {
  opacity: 1;
  color: #c1c4cd;
}
html.theme-dark .innerInput-29Ku0bwF::-webkit-input-placeholder {
  color: #25262B;
}
html.theme-dark .innerInput-29Ku0bwF:-ms-input-placeholder {
  color: #25262B;
}
html.theme-dark .innerInput-29Ku0bwF::placeholder {
  color: #25262B;
}
.innerInput-29Ku0bwF::selection {
  background: rgba(33, 150, 243, 0.25);
}
html.theme-dark .innerInput-29Ku0bwF::selection {
  background: rgba(25, 118, 210, 0.25);
}
.innerInputFix-3nQEuMmn {
  direction: ltr;
  text-align: left;
  padding: 0 3px 0 8px;
}
.errorMessage-3U3e1ayv {
  padding: 5px 8px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background-color: #25262B;
  box-sizing: border-box;
}
html.theme-dark .errorMessage-3U3e1ayv {
  background-color: #434651;
  color: #b2b5be;
}
.errorMessage-3U3e1ayv:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8px 0;
  border-color: #25262B transparent transparent;
}
html.theme-dark .errorMessage-3U3e1ayv:after {
  border-color: #434651 transparent transparent;
}
.iconBlock-1uOkuIhU {
  display: flex;
  flex: 0 0 auto;
  height: 100%;
}
.innerLabel-1oKvCwg6 {
  display: flex;
  flex: 0 0 auto;
  color: #d1d4dc;
  font-size: 16px;
  padding-right: 8px;
}
html.theme-dark .innerLabel-1oKvCwg6 {
  color: #50535e;
}
.container-AqxbM340 {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  border-radius: 4px;
  border-style: solid;
  border-color: #d1d4dc;
  max-width: 100%;
  cursor: default;
}
html.theme-dark .container-AqxbM340 {
  border-color: #50535e;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .container-AqxbM340:hover {
    border-color: #a3a6af;
  }
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .container-AqxbM340:hover {
    border-color: #6a6d78;
  }
}
.container-AqxbM340.focused-3bgZ4yBI {
  border-color: #2196f3;
}
html.theme-dark .container-AqxbM340.focused-3bgZ4yBI {
  border-color: #1976d2;
}
.container-AqxbM340.readonly-3YlYTz9Q {
  border-color: #d1d4dc;
  background-color: #f0f3fa;
}
html.theme-dark .container-AqxbM340.readonly-3YlYTz9Q {
  background-color: #25262B;
  border-color: #50535e;
}
.container-AqxbM340.disabled-3kisU58M {
  color: #b2b5be;
  border-color: #d1d4dc;
  background-color: #f0f3fa;
}
html.theme-dark .container-AqxbM340.disabled-3kisU58M {
  background-color: #25262B;
  border-color: #50535e;
  color: #50535e;
}
.container-AqxbM340.size-small-ST9O9iKu {
  height: 24px;
}
.container-AqxbM340.size-medium-2saizg8j {
  height: 34px;
}
.container-AqxbM340.size-large-1HDInl7D {
  height: 48px;
}
.container-AqxbM340.font-size-medium-3qTDml7i,
.container-AqxbM340.font-size-small-AVVl6ljq {
  font-size: 14px;
  line-height: 20px;
}
.container-AqxbM340.font-size-large-36ClMPCZ {
  font-size: 16px;
  line-height: 24px;
}
.container-AqxbM340.border-none-2VoAEzD9 {
  border-width: 0;
}
.container-AqxbM340.border-none-2VoAEzD9 .shadow-rtripSA4 {
  margin: 0;
}
.container-AqxbM340.border-thin-2A_CUSMk {
  border-width: 1px;
}
.container-AqxbM340.border-thin-2A_CUSMk .shadow-rtripSA4 {
  margin: -1px;
}
.container-AqxbM340.border-thick-1_qIhMms {
  border-width: 2px;
}
.container-AqxbM340.border-thick-1_qIhMms .shadow-rtripSA4 {
  margin: -2px;
}
.container-AqxbM340.intent-default-saHBD6pK .shadow-rtripSA4 {
  border-color: #d1d4dc;
}
html.theme-dark .container-AqxbM340.intent-default-saHBD6pK .shadow-rtripSA4 {
  border-color: #50535e;
}
.container-AqxbM340.intent-success-3xXQLoWT,
.container-AqxbM340.intent-success-3xXQLoWT .shadow-rtripSA4,
html.theme-dark .container-AqxbM340.intent-success-3xXQLoWT,
html.theme-dark .container-AqxbM340.intent-success-3xXQLoWT .shadow-rtripSA4 {
  border-color: #00897b;
}
.container-AqxbM340.intent-warning-SstNFztT,
.container-AqxbM340.intent-warning-SstNFztT .shadow-rtripSA4,
html.theme-dark .container-AqxbM340.intent-warning-SstNFztT,
html.theme-dark .container-AqxbM340.intent-warning-SstNFztT .shadow-rtripSA4 {
  border-color: #ff9800;
}
.container-AqxbM340.intent-danger-1URZFATh {
  border-color: #f44336;
}
html.theme-dark .container-AqxbM340.intent-danger-1URZFATh {
  border-color: #d32f2f;
}
.container-AqxbM340.intent-danger-1URZFATh .shadow-rtripSA4 {
  border-color: #f44336;
}
html.theme-dark .container-AqxbM340.intent-danger-1URZFATh .shadow-rtripSA4 {
  border-color: #d32f2f;
}
.container-AqxbM340.intent-primary-npIFDxc3 {
  border-color: #2196f3;
}
html.theme-dark .container-AqxbM340.intent-primary-npIFDxc3 {
  border-color: #1976d2;
}
.container-AqxbM340.intent-primary-npIFDxc3 .shadow-rtripSA4 {
  border-color: #2196f3;
}
html.theme-dark .container-AqxbM340.intent-primary-npIFDxc3 .shadow-rtripSA4 {
  border-color: #1976d2;
}
.container-AqxbM340.corner-top-left-1Ex1ff4b {
  border-top-right-radius: 0;
}
.container-AqxbM340.corner-top-right-37x9-mDc {
  border-top-left-radius: 0;
}
.container-AqxbM340.corner-bottom-right-3-_3mqIz {
  border-bottom-left-radius: 0;
}
.container-AqxbM340.corner-bottom-left-3mogFNyF {
  border-bottom-right-radius: 0;
}
.shadow-rtripSA4 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 4px;
  border: 2px solid;
}
.shadow-rtripSA4.corner-top-left-1Ex1ff4b {
  border-top-right-radius: 0;
}
.shadow-rtripSA4.corner-top-right-37x9-mDc {
  border-top-left-radius: 0;
}
.shadow-rtripSA4.corner-bottom-right-3-_3mqIz {
  border-bottom-left-radius: 0;
}
.shadow-rtripSA4.corner-bottom-left-3mogFNyF {
  border-bottom-right-radius: 0;
}
.placeholder-3IHl8nis,
.selected-2IjEMdXr {
  flex: 1 1 auto;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 8px 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hiddenArrow-1HtcxiMc {
  max-width: 100%;
  padding-left: 8px;
}
.placeholder-3IHl8nis {
  color: #d1d4dc;
}
html.theme-dark .placeholder-3IHl8nis {
  color: #50535e;
}
.controlWrapper-skuqZLfC {
  box-sizing: border-box;
  margin-left: 2px;
  padding: 2px 0;
  height: 100%;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}
margin-left: 2px;
margin-right: 0;
.controlWrapper-skuqZLfC.hidden-3NLdXwWA {
  display: none;
}
.control-1HTkHp6S {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  align-items: center;
  border-radius: 2px;
  padding: 0 6px;
  height: 50%;
  background-color: transparent;
  color: #787b86;
  cursor: pointer;
  transition: color 0.35s ease, background-color 0.35s ease;
}
.control-1HTkHp6S svg {
  fill: currentColor;
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  .control-1HTkHp6S:hover {
    color: #131722;
    background-color: #f0f3fa;
  }
}
@media (any-hover: hover), (min--moz-device-pixel-ratio: 0) {
  html.theme-dark .control-1HTkHp6S:hover {
    background-color: #363a45;
    color: #b2b5be;
  }
}
.controlIncrease-2YFIq5Gk {
  transform: rotate(-180deg);
}
.decreaseControlIcon-O8mAFFIw,
.increaseControlIcon-1tvvZsEf {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 10px;
}
.decreaseControlIcon-O8mAFFIw svg,
.increaseControlIcon-1tvvZsEf svg {
  width: 100%;
}
.content-jw-2aYgg {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  color: #131722;
  padding: 16px 20px;
  max-width: 550px;
  box-sizing: border-box;
  width: 100%;
}
html.theme-dark .content-jw-2aYgg {
  color: #b2b5be;
}
.content-jw-2aYgg.ie-2-BNrQbP {
  display: -ms-inline-grid;
  -ms-grid-columns: 1fr auto;
}
.cell-hIDC3uV- .inner--hn7i_PK {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.ie-2-BNrQbP .cell-hIDC3uV- .inner--hn7i_PK {
  width: 100%;
}
.cell-hIDC3uV-.first-2n3flLMC {
  display: flex;
  min-width: 0;
  align-items: center;
}
.ie-2-BNrQbP .cell-hIDC3uV-.first-2n3flLMC {
  -ms-grid-column: 1;
}
.cell-hIDC3uV-.first-2n3flLMC .inner--hn7i_PK {
  display: block;
  padding-left: 20px;
  text-transform: capitalize;
  min-width: 0;
  word-wrap: break-word;
  cursor: default;
}
.cell-hIDC3uV-.fill-1Pff_fQf {
  grid-column: 1/3;
}
.ie-2-BNrQbP .cell-hIDC3uV-.fill-1Pff_fQf {
  -ms-grid-column-span: 2;
}
.ie-2-BNrQbP .cell-hIDC3uV-.last-3u0rzQsJ {
  -ms-grid-column: 2;
}
.cell-hIDC3uV-.top-E6bk4zZh {
  align-items: flex-start;
}
.ie-2-BNrQbP .cell-hIDC3uV-.top-E6bk4zZh {
  -ms-grid-row-align: start;
}
.cell-hIDC3uV-:only-child {
  max-width: 340px;
}
.cell-hIDC3uV-.offset-2t8eK615 {
  padding-right: 26px;
}
.grouped-HUhXUUdM .inner--hn7i_PK {
  padding: 4px 0;
}
.separator-27YVz1Zr {
  margin: 8px -20px;
  height: 1px;
  background-color: #e0e3eb;
}
html.theme-dark .separator-27YVz1Zr {
  background-color: #434651;
}
.groupSeparator-3LbEcdXc {
  height: 8px;
}
.groupSeparator-3LbEcdXc.big-1ygh-FzO {
  height: 14px;
}
@media screen and (max-width: 379px) {
  .content-jw-2aYgg {
    grid-template-columns: 1fr -webkit-min-content;
    grid-template-columns: 1fr min-content;
  }
  .cell-hIDC3uV-.first-2n3flLMC .inner--hn7i_PK {
    padding: 8px 0 8px 20px;
  }
  .cell-hIDC3uV-.adaptive-3nNVfvpI {
    align-items: flex-start;
  }
  .ie-2-BNrQbP .cell-hIDC3uV-.adaptive-3nNVfvpI {
    -ms-grid-row-align: start;
  }
  .cell-hIDC3uV-.adaptive-3nNVfvpI:not(.checkableTitle-3xDSPDqb) {
    padding-top: 8px;
  }
}
