.errors-C3KBJakt {
  position: absolute;
  z-index: 2;
  padding: 10px 15px;
  color: #fff;
  opacity: 0;
  text-align: center;
  border-radius: 3px;
  background-color: #25262B;
  pointer-events: none;
  box-sizing: border-box;
}
html.theme-dark .errors-C3KBJakt {
  background-color: #363c4e;
}
.errors-C3KBJakt:empty {
  display: none;
}
.errors-C3KBJakt.show-2G4PY7Uu {
  opacity: 1;
}
.errors-C3KBJakt .error-3G4k6KUC {
  font-size: 12px;
  line-height: 1.4;
  text-transform: none;
  margin-top: 10px;
}
.errors-C3KBJakt .error-3G4k6KUC:first-child {
  margin-top: 0;
}
