.popupWidget-2X0DYakn {
  display: flex;
  padding: 12px 14px;
}
@media only screen and (min-width: 420px) {
  .popupWidget-2X0DYakn {
    max-width: 296px;
  }
}
.popupWidget-2X0DYakn:not(:last-child) {
  border-bottom: 1px solid #f0f3fa;
}
html.theme-dark .popupWidget-2X0DYakn:not(:last-child) {
  border-bottom: 1px solid #25262B;
}
.popupWidget-2X0DYakn .desc-btEANXbj {
  display: flex;
  flex-direction: column;
}
.popupWidget-2X0DYakn .icon-2jQlAvgr {
  flex: 0 0 auto;
  margin: 2px 6px 2px 0;
  overflow: hidden;
}
.popupWidget-2X0DYakn .icon-2jQlAvgr.medium-Fe1be2K2 {
  width: 18px;
  height: 18px;
  border-radius: 9px;
}
.popupWidget-2X0DYakn .icon-2jQlAvgr.large-2BZlk4pO {
  width: 22px;
  height: 22px;
  border-radius: 11px;
}
.popupWidget-2X0DYakn .title-1Yt34zFi {
  font-weight: 700;
}
.popupWidget-2X0DYakn .title-1Yt34zFi.medium-Fe1be2K2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
}
.popupWidget-2X0DYakn .title-1Yt34zFi.large-2BZlk4pO {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 2px;
}
.popupWidget-2X0DYakn .text-Md3DtcCM.medium-Fe1be2K2 {
  font-size: 14px;
  line-height: 21px;
}
.popupWidget-2X0DYakn .text-Md3DtcCM.large-2BZlk4pO {
  font-size: 16px;
  line-height: 25px;
}
.popupWidget-2X0DYakn .action-6Ezy2_v3 {
  color: #2196f3;
  margin-top: 8px;
  cursor: pointer;
}
.popupWidget-2X0DYakn .action-6Ezy2_v3.medium-Fe1be2K2 {
  font-size: 14px;
  line-height: 21px;
}
.popupWidget-2X0DYakn .action-6Ezy2_v3.large-2BZlk4pO {
  font-size: 16px;
  line-height: 25px;
}
